@layer animations {
	@media (prefers-reduced-motion: no-preference) {
		@keyframes slide-in {
			0% {
				opacity: 0;
				transform: translateY(calc(0.25rem * -1));
			}
			100% {
				opacity: 1;
				transform: translateY(0);
			}
		}
	}
}
