@layer animations {
	@media (prefers-reduced-motion: no-preference) {
		@keyframes slide-in {
			0% {
				opacity: 0;
				transform: translateY(calc(0.25rem * -1));
			}
			100% {
				opacity: 1;
				transform: translateY(0);
			}
		}

		@keyframes header-size-and-opacity {
			from {
				height: var(--header-size-start);
				backdrop-filter: saturate(var(--filter-saturation-start)) blur(var(--filter-blur-start));
			}
			to {
				height: var(--header-size-end);
				backdrop-filter: saturate(var(--filter-saturation-end)) blur(var(--filter-blur-end));
			}
		}

		@keyframes divider-opacity {
			from {
				opacity: var(--divider-opacity-start);
			}
			to {
				opacity: var(--divider-opacity-end);
			}
		}
	}
}
