@layer components {
	.container {
		margin-inline: auto;
		max-width: 48rem;
		padding-inline: 1.5rem;
	}

	.project-body {
		p {
			margin: 0;
		}

		p + p {
			margin-block-start: var(--line-height);
		}
	}
}
