@layer tokens {
	:root {
		color-scheme: light dark;

		--hue-on-light: 262;
		--lch-base-on-light: 50% 0.29 var(--hue-on-light);
		--lch-ink-on-light: 2% 0.22 var(--hue-on-light);
		--lch-complement-light: 95% 0.01 calc(var(--hue-on-light) + 180);

		--hue-on-dark: 156;
		--lch-base-on-dark: 86% 0.29 var(--hue-on-dark);
		--lch-ink-on-dark: 100% 0.06 var(--hue-on-dark);
		--lch-complement-on-dark: 11% 0.06 calc(var(--hue-on-dark) + 180);

		/* Background colors */
		--background-primary-light: oklch(var(--lch-complement-light));
		--background-primary-dark: oklch(var(--lch-complement-on-dark));
		--background-primary: light-dark(
			var(--background-primary-light),
			var(--background-primary-dark)
		);

		--background-secondary-light: oklch(var(--lch-ink-on-light) / 0.05);
		--background-secondary-dark: oklch(var(--lch-ink-on-dark) / 0.1);
		--background-secondary: light-dark(
			var(--background-secondary-light),
			var(--background-secondary-dark)
		);

		/* Text colors */
		--text-primary-light: oklch(var(--lch-ink-on-light));
		--text-primary-dark: oklch(var(--lch-ink-on-dark));
		--text-primary: light-dark(var(--text-primary-light), var(--text-primary-dark));

		--text-secondary-light: oklch(var(--lch-ink-on-light) / 0.5);
		--text-secondary-dark: oklch(var(--lch-ink-on-dark) / 0.5);
		--text-secondary: light-dark(var(--text-secondary-light), var(--text-secondary-dark));

		/* Interactive colors */
		--accent-light: oklch(var(--lch-base-on-light));
		--accent-dark: oklch(var(--lch-base-on-dark));
		--accent: light-dark(var(--accent-light), var(--accent-dark));

		/*Border colors*/
		--border-color-light: oklch(var(--lch-ink-on-light) / 0.04);
		--border-color-dark: oklch(var(--lch-ink-on-dark) / 0.04);
		--border-color: light-dark(var(--border-color-light), var(--border-color-dark));

		/* Font settings */
		--font-family: 'InterVariable', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
			sans-serif;

		--font-size-base: calc(1em + 1vw);
		--font-size-fixed: 1rem;
		--font-size-small: 50%;
		--font-size-large: 125%;
		--font-size-x-large: 150%;

		/* Font weight */
		--font-weight: 400;
		--font-weight-medium: 500;
		--font-weight-bold: 700;

		/* Letter spacing */
		--letter-spacing: -0.01em;
		--line-height: 1.3em;

		/* Animation */
		--hover-transition: 150ms ease-in-out;

		--border-radius: 0.25ch;

		/*Spacing*/
		--inline-spacing: 1ch;
		--block-spacing: 1rem;
	}

	[data-theme='light'] {
		color-scheme: light;
	}

	[data-theme='dark'] {
		color-scheme: dark;
	}
}
