@layer tokens {
	:root {
		color-scheme: light dark;

		--blue-hue: 262;
		--lch-blue: 50% 0.29 var(--blue-hue);
		--lch-blue-dark: 2% 0.22 var(--blue-hue);

		--green-hue: 156;
		--lch-green: 86% 0.29 var(--green-hue);
		--lch-green-light: 100% 0.07 var(--green-hue);

		--purple-hue: 312;
		--lch-purple: 11% 0.06 var(--purple-hue);
		--lch-purple-light: 95% 0.04 var(--purple-hue);

		/* Background colors */
		--background-primary-light: oklch(var(--lch-purple-light));
		--background-primary-dark: oklch(var(--lch-purple));
		--background-primary: light-dark(
			var(--background-primary-light),
			var(--background-primary-dark)
		);

		--background-secondary-light: oklch(var(--lch-blue-dark) / 0.05);
		--background-secondary-dark: oklch(var(--lch-green-light) / 0.1);
		--background-secondary: light-dark(
			var(--background-secondary-light),
			var(--background-secondary-dark)
		);

		/* Text colors */
		--text-primary-light: oklch(var(--lch-blue-dark));
		--text-primary-dark: oklch(var(--lch-green-light));
		--text-primary: light-dark(var(--text-primary-light), var(--text-primary-dark));

		--text-secondary-light: oklch(var(--lch-blue-dark) / 0.5);
		--text-secondary-dark: oklch(var(--lch-green-light) / 0.5);
		--text-secondary: light-dark(var(--text-secondary-light), var(--text-secondary-dark));

		/* Interactive colors */
		--accent-light: oklch(var(--lch-blue));
		--accent-dark: oklch(var(--lch-green));
		--accent: light-dark(var(--accent-light), var(--accent-dark));

		/*Border colors*/
		--border-color-light: oklch(var(--lch-blue-dark) / 0.04);
		--border-color-dark: oklch(var(--lch-green-light) / 0.04);
		--border-color: light-dark(var(--border-color-light), var(--border-color-dark));

		/* Font settings */
		--font-family: 'InterVariable', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
			sans-serif;

		--font-size-base: calc(1em + 1vw);
		--font-size-fixed: 1rem;
		--font-size-x-small: 70%;
		--font-size-small: 85%;
		--font-size-large: 125%;
		--font-size-x-large: 160%;

		/* Font weight */
		--font-weight: 400;
		--font-weight-medium: 500;
		--font-weight-bold: 700;

		/* Letter spacing */
		--letter-spacing: -0.01em;
		--line-height: 1.3em;

		/* Animation */
		--hover-transition: 150ms ease-in-out;

		--border-radius: 0.25ch;

		/*Spacing*/
		--inline-spacing: 1ch;
		--block-spacing: 1rem;
	}

	[data-theme='light'] {
		color-scheme: light;
	}

	[data-theme='dark'] {
		color-scheme: dark;
	}
}
