@layer tokens {
	:root {
		color-scheme: light dark;

		--hue-on-light: 262;
		--lch-base-on-light: 50% 0.29 var(--hue-on-light);
		--lch-ink-strong-on-light: 0% 0.02 var(--hue-on-light);
		--lch-ink-on-light: 20% 0.02 var(--hue-on-light);
		--lch-complement-light: 95% 0.01 calc(var(--hue-on-light) + 180);

		--hue-on-dark: 156;
		--lch-base-on-dark: 86% 0.29 var(--hue-on-dark);
		--lch-ink-strong-on-dark: 100% 0.02 var(--hue-on-dark);
		--lch-ink-on-dark: 80% 0.02 var(--hue-on-dark);
		--lch-complement-on-dark: 11% 0.06 calc(var(--hue-on-dark) + 180);

		/* Background colors */
		--background-primary-light: oklch(var(--lch-complement-light));
		--background-primary-dark: oklch(var(--lch-complement-on-dark));
		--background-primary: light-dark(
			var(--background-primary-light),
			var(--background-primary-dark)
		);

		--background-secondary-light: lch(from oklch(var(--lch-complement-light)) calc(l - 3) c h);
		--background-secondary-dark: lch(from oklch(var(--lch-complement-on-dark)) calc(l + 6) c h);
		--background-secondary: light-dark(
			var(--background-secondary-light),
			var(--background-secondary-dark)
		);

		/* Text colors */
		--text-primary-light: oklch(var(--lch-ink-on-light));
		--text-primary-dark: oklch(var(--lch-ink-on-dark));
		--text-primary: light-dark(var(--text-primary-light), var(--text-primary-dark));

		--text-secondary-light: lch(from oklch(var(--lch-ink-on-light)) calc(l + 50) c h);
		--text-secondary-dark: lch(from oklch(var(--lch-ink-on-dark)) calc(l - 25) c h);
		--text-secondary: light-dark(var(--text-secondary-light), var(--text-secondary-dark));

		--text-strong-light: oklch(var(--lch-ink-strong-on-light));
		--text-strong-dark: oklch(var(--lch-ink-strong-on-dark));
		--text-strong: light-dark(var(--text-strong-light), var(--text-strong-dark));

		/* Interactive colors */
		--text-link-light: oklch(var(--lch-ink-strong-on-light));
		--text-link-dark: oklch(var(--lch-ink-strong-on-dark));
		--text-link: light-dark(var(--text-link-light), var(--text-link-dark));

		--text-link-hover-light: lch(from oklch(var(--lch-ink-strong-on-light)) calc(l + 40) c h);
		--text-link-hover-dark: lch(from oklch(var(--lch-ink-strong-on-dark)) calc(l - 40) c h);
		--text-link-hover: light-dark(var(--text-link-hover-light), var(--text-link-hover-dark));

		--accent-light: oklch(var(--lch-base-on-light));
		--accent-dark: oklch(var(--lch-base-on-dark));
		--accent: light-dark(var(--accent-light), var(--accent-dark));

		--selection-light: oklch(var(--lch-base-on-light) / 0.15);
		--selection-dark: oklch(var(--lch-base-on-dark) / 0.15);
		--selection: light-dark(var(--selection-light), var(--selection-dark));

		/*Border colors*/
		--border-color-light: lch(from oklch(var(--lch-complement-light)) calc(l - 7.5) c h);
		--border-color-dark: lch(from oklch(var(--lch-complement-on-dark)) calc(l + 15) c h);
		--border-color: light-dark(var(--border-color-light), var(--border-color-dark));

		/* Font settings */
		--font-family: 'InterVariable', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
			sans-serif;

		--font-size: calc(1em + 1vw);
		--font-size-small: 80%;
		--font-size-medium: 90%;
		--font-size-large: 125%;
		--font-size-x-large: 175%;

		/* Font weight */
		--font-weight: 400;
		--font-weight-medium: 500;
		--font-weight-bold: 700;

		/* Letter spacing */
		--letter-spacing: -0.01em;
		--line-height: calc(1.3em + 0.5vw);

		/* Animation */
		--hover-transition: 150ms ease-in-out;

		--border-radius: 0.25ch;

		/*Spacing*/
		--inline-spacing: 1ch;
		--block-spacing: 1rem;
	}

	@media (min-width: 64em) and (hover: hover) and (pointer: fine) {
		:root {
			--font-size: calc(1.25em + 1vw);
			--font-size-small: 50%;
			--font-size-medium: 65%;
			--font-size-large: 105%;
			--font-size-x-large: 160%;
			--line-height: 1.3em;
		}
	}

	[data-theme='light'] {
		color-scheme: light;
	}

	[data-theme='dark'] {
		color-scheme: dark;
	}
}
