@font-face {
	font-family: 'Inter var';
	font-weight: 100 900;
	font-display: swap;
	font-style: normal;
	font-named-instance: 'Regular';
	src: url('/Inter-roman.var.woff2?v=3.19') format('woff2');
}

:root {
	/* Default Theme Light */
	--rose-white: hsl(20, 100%, 98%);
	--rose-white-light: hsl(20, 100%, 99%);
	--solitude: hsl(256, 37%, 94%);
	--minsk: hsl(256, 37%, 60%);
	--minsk-translucent: hsl(256, 37%, 60%, 0.07);
	--mirage: hsl(256, 37%, 12%);
	--palatinate-blue: hsl(228, 100%, 50%);
	--divider-light: rgba(0, 0, 0, 0.1);

	/* Default Theme Dark */
	--vulcan: hsl(256, 37%, 9%);
	--vulcan-light: hsl(256, 37%, 14%);
	--blackurrant: hsl(256, 37%, 18%);
	--lavender: hsl(256, 60%, 94%);
	--gray-suit: hsl(256, 10%, 57%);
	--gray-suit-translucent: hsl(256, 10%, 57%, 0.05);
	--pale-green: hsl(130, 100%, 78%);
	--divider-dark: rgba(255, 255, 255, 0.1);

	/* Cupcake Light*/
	--lilac: #eae6f0;
	--lilac-light: #efebf5;
	--rose-quartz: #f7cac9;
	--pink: hsl(332, 38%, 55%);
	--fuchsia: hsl(328, 55%, 48%);
	--fuchsia-translucent: hsl(328, 55%, 48%, 0.05);
	--chocolate: #4b0f07;

	/* Cupcake Dark*/
	--dark-chocolate: hsl(7, 83%, 10%);

	/* Terminal light */
	--ecru-white: hsl(49, 44%, 93%);
	--bianca: hsl(49, 44%, 97%);
	--tamarillo: hsl(0, 78%, 34%);

	/* Terminal Dark */
	--black: hsl(0, 0%, 0%);
	--black-light: hsl(0, 0%, 5%);
	--pine-tree: hsl(90, 100%, 6%);
	--lawn-green: hsl(90, 100%, 50%);
	--fern: hsl(90, 100%, 30%);
	--fern-translucent: hsla(90, 100%, 30%, 0.06);
	--cyan: hsl(180, 100%, 50%);

	/* Deep Blue Dark */
	--dark-blue: hsl(233, 81%, 10%);
	--dark-blue-light: hsl(233, 81%, 15%);
	--navy-blue: hsl(233, 100%, 20%);
	--zircon: hsl(233, 81%, 94%);
	--faded-blue: hsl(233, 81%, 70%);
	--faded-blue-translucent: hsl(233, 81%, 70%, 0.05);
	--medium-purple: hsl(260, 65%, 69%);

	/* Spacing */
	--spacing: 1rem;
	--spacing2x: calc(var(--spacing) * 2);
	--spacing3x: calc(var(--spacing) * 3);
	--spacing4x: calc(var(--spacing) * 4);
	--spacing-half: calc(var(--spacing) / 2);
	--spacing-quarter: calc(var(--spacing) / 4);

	/* Typography */
	--font-body: clamp(1.25rem, 2.5vw, 2rem);
	--font-family: 'Inter var', 'Helvetica', sans-serif;
	--font-heading: clamp(1.5rem, 3vw, 2.5rem);
	--font-weight-body: 400;
	--font-weight-headline: 600;

	/* Box Shadow */
	--shadow: 0px 1.1px 5.3px rgba(0, 0, 0, 0.02), 0px 3.6px 17.9px rgba(0, 0, 0, 0.03),
		0px 16px 80px rgba(0, 0, 0, 0.05);

	--border-radius: var(--spacing-quarter);
}

:root[data-theme='cupcake'][data-color-scheme='light'] {
	--bg-0: var(--lilac);
	--bg-1: var(--lilac-light);
	--bg-2: var(--rose-quartz);
	--bg-x: var(--fuchsia-translucent);
	--text-primary: var(--chocolate);
	--text-secondary: var(--pink);
	--accent-color: var(--fuchsia);
	--divider: var(--divider-light);

	--font-family: 'American Typewriter', 'Georgia', serif;
	--font-weight-body: 400;
	--font-weight-headline: 800;
}

:root[data-theme='default'][data-color-scheme='light'] {
	--bg-0: var(--rose-white);
	--bg-1: var(--rose-white-light);
	--bg-2: var(--solitude);
	--bg-x: var(--minsk-translucent);
	--text-primary: var(--mirage);
	--text-secondary: var(--minsk);
	--accent-color: var(--palatinate-blue);
	--divider: var(--divider-light);

	--font-weight-body: 400;
}

:root[data-theme='terminal'][data-color-scheme='light'] {
	--bg-0: var(--ecru-white);
	--bg-1: var(--bianca);
	--bg-2: var(--fern-translucent);
	--bg-x: var(--fern-translucent);
	--text-primary: var(--pine-tree);
	--text-secondary: var(--fern);
	--accent-color: var(--tamarillo);
	--divider: var(--divider-light);

	/* Typography */
	--font-weight-body: 100;
	--font-weight-headline: 500;
	--font-body: clamp(1.25rem, 2.5vw, 2rem);

	--font-family: 'SF Mono', monospace;
}

:root[data-theme='deep-blue'][data-color-scheme='light'] {
	--bg-0: var(--zircon);
	--bg-1: var(--dark-blue-light);
	--bg-2: var(--navy-blue);
	--bg-x: var(--faded-blue-translucent);
	--text-primary: var(--navy-blue);
	--text-secondary: var(--faded-blue);
	--accent-color: var(--medium-purple);
	--divider: var(--divider-dark);

	--font-family: 'Avenir Next', 'Verdana', sans-serif;
	--font-weight-body: 450;
	--font-weight-headline: 600;
}

@media (prefers-color-scheme: light) {
	:root[data-theme='default'] {
		--bg-0: var(--rose-white);
		--bg-1: var(--rose-white-light);
		--bg-2: var(--solitude);
		--bg-x: var(--minsk-translucent);
		--text-primary: var(--mirage);
		--text-secondary: var(--minsk);
		--accent-color: var(--palatinate-blue);
		--divider: var(--divider-light);

		--font-weight-body: 400;
	}

	:root[data-theme='cupcake'] {
		--bg-0: var(--lilac);
		--bg-1: var(--lilac-light);
		--bg-2: var(--rose-quartz);
		--bg-x: var(--fuchsia-translucent);
		--text-primary: var(--chocolate);
		--text-secondary: var(--pink);
		--accent-color: var(--fuchsia);
		--divider: var(--divider-light);

		--font-family: 'American Typewriter', 'Georgia', serif;
		--font-weight-body: 400;
		--font-weight-headline: 800;
	}

	:root[data-theme='terminal'] {
		--bg-0: var(--ecru-white);
		--bg-1: var(--bianca);
		--bg-2: var(--fern-translucent);
		--bg-x: var(--fern-translucent);
		--text-primary: var(--pine-tree);
		--text-secondary: var(--fern);
		--accent-color: var(--tamarillo);
		--divider: var(--divider-light);

		/* Typography */
		--font-weight-body: 100;
		--font-weight-headline: 500;
		--font-body: clamp(1.25rem, 2.5vw, 2rem);

		--font-family: 'SF Mono', monospace;
	}

	:root[data-theme='deep-blue'] {
		--bg-0: var(--zircon);
		--bg-1: var(--dark-blue-light);
		--bg-2: var(--navy-blue);
		--bg-x: var(--faded-blue-translucent);
		--text-primary: var(--navy-blue);
		--text-secondary: var(--faded-blue);
		--accent-color: var(--medium-purple);
		--divider: var(--divider-dark);

		--font-family: 'Avenir Next', 'Verdana', sans-serif;
		--font-weight-body: 450;
		--font-weight-headline: 600;
	}
}

:root[data-theme='cupcake'][data-color-scheme='dark'] {
	--bg-0: var(--dark-chocolate);
	--bg-1: var(--lilac-light);
	--bg-2: var(--rose-quartz);
	--bg-x: var(--fuchsia-translucent);
	--text-primary: var(--lilac);
	--text-secondary: var(--pink);
	--accent-color: var(--fuchsia);
	--divider: var(--divider-light);

	--font-family: 'American Typewriter', 'Georgia', serif;
	--font-weight-body: 400;
	--font-weight-headline: 800;
}

@media (prefers-color-scheme: dark) {
	:root[data-theme='default'] {
		--bg-0: var(--vulcan);
		--bg-1: var(--vulcan-light);
		--bg-2: var(--blackurrant);
		--bg-x: var(--gray-suit-translucent);
		--text-primary: var(--lavender);
		--text-secondary: var(--gray-suit);
		--accent-color: var(--pale-green);
		--divider: var(--divider-dark);

		--font-weight-body: 350;
	}

	:root[data-theme='cupcake'] {
		--bg-0: var(--dark-chocolate);
		--bg-1: var(--lilac-light);
		--bg-2: var(--rose-quartz);
		--bg-x: var(--fuchsia-translucent);
		--text-primary: var(--lilac);
		--text-secondary: var(--pink);
		--accent-color: var(--fuchsia);
		--divider: var(--divider-light);

		--font-family: 'American Typewriter', 'Georgia', serif;
		--font-weight-body: 400;
		--font-weight-headline: 800;
	}

	:root[data-theme='terminal'] {
		--bg-0: var(--black);
		--bg-1: var(--black-light);
		--bg-2: var(--pine-tree);
		--bg-x: var(--fern-translucent);
		--text-primary: var(--lawn-green);
		--text-secondary: var(--fern);
		--accent-color: var(--cyan);
		--divider: var(--divider-dark);

		/* Typography */
		--font-weight-body: 100;
		--font-weight-headline: 500;
		--font-body: clamp(1.25rem, 2.5vw, 2rem);

		--font-family: 'SF Mono', monospace;
	}

	[data-theme='deep-blue'] {
		--bg-0: var(--dark-blue);
		--bg-1: var(--dark-blue-light);
		--bg-2: var(--navy-blue);
		--bg-x: var(--faded-blue-translucent);
		--text-primary: var(--zircon);
		--text-secondary: var(--faded-blue);
		--accent-color: var(--medium-purple);
		--divider: var(--divider-dark);

		--font-family: 'Avenir Next', 'Verdana', sans-serif;
		--font-weight-body: 450;
		--font-weight-headline: 600;
	}
}

html {
	background: var(--bg-0);
	color: var(--text-primary);
	font-family: var(--font-family);
	font-feature-settings: 'ss01' 1, 'ss02' 1, 'ss03' 1;
	transition: background 200ms linear, color 500ms linear;
}

@supports (scroll-behavior: smooth) {
	html {
		scroll-behavior: smooth;
	}
}

/* Box sizing rules */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h2 {
	font-size: calc(14 / var(--spacing));
	text-transform: uppercase;
	letter-spacing: calc(var(--spacing) / 8);
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: var(--spacing2x);
	margin-bottom: var(--spacing2x);
	color: var(--text-secondary);
}

h2::after {
	background: var(--text-secondary);
	content: '';
	display: block;
	flex: 1;
	height: calc(var(--spacing) / 16);
	opacity: 0.12;
	width: 100%;
}

p {
	max-width: 48ch;
	line-height: 1.45;
	color: var(--text-primary);
	font-size: var(--font-body);
	font-weight: var(--font-weight-body);
}

a {
	background-color: transparent;
	border-radius: var(--border-radius);
	color: var(--accent-color);
	margin: 0 calc(var(--spacing-quarter) * -1);
	padding: calc(var(--spacing) / 8) var(--spacing-quarter);
	text-decoration: none;
	transition: color 200ms ease-in-out, background-color 150ms ease-in-out;
}

a:hover {
	background-color: var(--accent-color);
	color: var(--bg-0);
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

@keyframes slide-in {
	0% {
		opacity: 0;
		transform: translateY(calc(var(--spacing-half) * -1));
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
