@layer reset, fonts, tokens,  base, components, animations, utilities;

@import url('./stylesheets/reset.css') layer(reset);
@import url('./stylesheets/fonts.css') layer(fonts);
@import url('./stylesheets/tokens.css') layer(tokens);
@import url('./stylesheets/base.css') layer(base);
@import url('./stylesheets/components.css') layer(components);
@import url('./stylesheets/animations.css') layer(animations);
@import url('./stylesheets/utilities.css') layer(utilities);
