@import url('./stylesheets/reset.css') layer(reset);

@font-face {
	font-family: InterVariable;
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url('/InterVariable.woff2') format('woff2');
}

:root {
	color-scheme: light dark;

	--blue-hue: 262;
	--lch-blue: 50% 0.29 var(--blue-hue);
	--lch-blue-dark: 2% 0.22 var(--blue-hue);

	--green-hue: 156;
	--lch-green: 86% 0.29 var(--green-hue);
	--lch-green-light: 100% 0.07 var(--green-hue);

	--purple-hue: 312;
	--lch-purple: 11% 0.06 var(--purple-hue);
	--lch-purple-light: 95% 0.04 var(--purple-hue);

	/* Background colors */
	--background-primary-light: oklch(var(--lch-purple-light));
	--background-primary-dark: oklch(var(--lch-purple));
	--background-primary: light-dark(var(--background-primary-light), var(--background-primary-dark));

	--background-secondary-light: oklch(var(--lch-blue-dark) / 0.05);
	--background-secondary-dark: oklch(var(--lch-green-light) / 0.1);
	--background-secondary: light-dark(
		var(--background-secondary-light),
		var(--background-secondary-dark)
	);

	/* Text colors */
	--text-primary-light: oklch(var(--lch-blue-dark));
	--text-primary-dark: oklch(var(--lch-green-light));
	--text-primary: light-dark(var(--text-primary-light), var(--text-primary-dark));

	--text-secondary-light: oklch(var(--lch-blue-dark) / 0.5);
	--text-secondary-dark: oklch(var(--lch-green-light) / 0.5);
	--text-secondary: light-dark(var(--text-secondary-light), var(--text-secondary-dark));

	/* Interactive colors */
	--accent-light: oklch(var(--lch-blue));
	--accent-dark: oklch(var(--lch-green));
	--accent: light-dark(var(--accent-light), var(--accent-dark));

	/*Border colors*/
	--border-color-light: oklch(var(--lch-blue-dark) / 0.04);
	--border-color-dark: oklch(var(--lch-green-light) / 0.04);
	--border-color: light-dark(var(--border-color-light), var(--border-color-dark));

	/* Font settings */
	--font-family: 'InterVariable', 'Helvetica', sans-serif;

	--font-size-base: calc(1em + 1vw);
	--font-size-fixed: 1rem;
	--font-size-x-small: 70%;
	--font-size-small: 85%;
	--font-size-large: 125%;
	--font-size-x-large: 160%;

	/* Font weight */
	--font-weight: 400;
	--font-weight-medium: 500;
	--font-weight-bold: 700;

	/* Letter spacing */
	--letter-spacing: -0.01em;
	--line-height: 1.3em;

	/* Animation */
	--hover-transition: 150ms ease-in-out;

	--border-radius: 0.25ch;

	/*Spacing*/
	--inline-spacing: 1ch;
	--block-spacing: 1rem;
}

[data-theme='light'] {
	color-scheme: light;
}

[data-theme='dark'] {
	color-scheme: dark;
}

html {
	color: var(--text-primary);
	font-weight: var(--font-weight);
	font-feature-settings: 'ss01', 'ss03';
	font-optical-sizing: auto;
	font-size: 100%;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background: var(--background-primary);
	font-size: var(--font-size-base);
	font-family: var(--font-family);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
	margin: 0;
	padding: 0;
}

h3 {
	font-size: var(--font-size-large);
	font-weight: var(--font-weight-medium);
}

p {
	line-height: var(--line-height);
	margin-block: 0 var(--line-height);
	max-inline-size: 44ch;
}

a {
	color: var(--accent);
	text-decoration-thickness: from-font;
	text-decoration-skip-ink: auto;

	&:hover {
		color: var(--text-primary);
	}
}

:is(a, button) {
	touch-action: manipulation;
	transition-property: background-color, border-color, box-shadow, filter, outline;
	transition: 100ms ease-out;

	/* Keyboard navigation */
	&:where(:focus-visible) {
		border-radius: var(--border-radius);
		outline: var(--focus-ring-size, 2px) solid var(--accent);
		outline-offset: var(--focus-ring-offset, 1px);
	}
}

.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

@media (prefers-reduced-motion: no-preference) {
	html {
		scroll-behavior: smooth;
	}

	a {
		transition: color var(--hover-transition);
	}

	@keyframes slide-in {
		0% {
			opacity: 0;
			transform: translateY(calc(0.25rem * -1));
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}
}
